.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 400px;
}
button {
    background: rgba(236, 240, 241, 0.2);
    border: 2px solid #ECF0F1;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
button:hover {
    background: rgba(236, 240, 241, 0.4);
    transform: scale(2.05);
}
